<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Inscrire un titre ici</title>
  <style>
    {{var.style}}
  </style>
  <!-- On peut avoir d'autres méta-données ici -->
</head>

<body>
  <div>
    <img src="{{var.img1}}" width="30px" />
  </div>
  <div id="conteneur">
    <div class="element">Elément 1</div>
    <div class="element">Elément 2</div>
    <div class="element">Elément 3</div>
  </div>

  <!-- Ici, on placera tout le contenu à destination 
    de l'utilisateur -->
  <div>{{var.text1}}</div>

</body>

</html>