<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>CV Amine OUCHIHA</title>
  <style>
     {{var.style}}
  </style>
  <!-- On peut avoir d'autres méta-données ici -->
</head>

<body>
  <header>
    <aside>
      <img class="profile-photo" src="{{var.img1}}" width="70%" height="80%" />
    </aside>
    <section>
      <h1>Amine OUCHIHA <span>(26 ans)</span></h1>
      <h4>Consultant / Développeur full stack</h4>
      <p>
        Consultant développeur chez Edifixio depuis trois ans, intervenant dans 
        une multitude de projects avec un spectre technique et relationnel assez large.Je suis ouvert à de nouvelles opportunités en tant que consultant développeur 
        sur des thématiques téchnologique récente et porteuse.
      </p>
    </section>
  </header>
  
  <div class="body">
    <aside>
      sqdsqf
    </aside>
    <section class="main">
      dsfd
    </section>
  </div>

</body>

</html>